.cd-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 150px 0px;
}


.cd-content{
    width: 60%;
    height: 100%;
    background: rgb(0,27,28);
    background: linear-gradient(180deg, rgba(0,27,28,1) 0%, rgba(10,92,85,1) 100%); 
    border-radius: 0px 8px 0px 0px;

    -webkit-box-shadow: inset 0px 0px 5px 12px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 0px 12px 8px rgba(0,0,0,0.35);
    box-shadow: inset 0px 0px 12px 8px rgba(0,0,0,0.35);

    border-radius: 0px 0px 8px 0px;
}

.cd-web-content{
    height: 100%;
    padding: 10px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.cd-web-title{
    font-family: 'JuliusSansOne' , sans-serif;
    color: #F0FFC6;
    font-weight: lighter;
    font-size: 1vw;
}
.cd-web-ul{
    color: #F0FFC6;
    margin: 4px 0px;
}

.cd-web-li{
    margin-bottom: 5px;
    font-family: 'JuliusSansOne', sans-serif;
    font-size: 0.8vw;
}

.cd-web-li a{
    color: #F0FFC6;
    text-decoration: none;
    cursor: pointer;
}

.cd-web-text{
    font-size: 1vw;
    color: white;
    font-family: 'JuleeRegular';
}