@font-face {
  font-family: 'Koulen';
  src: url('./fonts/Koulen-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JuliusSansOne';
  src: url('./fonts/JuliusSansOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JuleeRegular';
  src: url('./fonts/Julee-Regular.ttf') format('truetype')
}

.App {
  text-align: center;
}


