.id-divider{
    width: 100%;
    height: 3vw;
    background-color: #0E2526;
    -webkit-box-shadow: inset 0px 0px 5px 8px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 0px 5px 8px rgba(0,0,0,0.35);
    box-shadow: inset 0px 0px 5px 8px rgba(0,0,0,0.35);

    margin: 0;
}